# Unreal Engine specifics
Wicked_Havens/Build
Wicked_Havens/Intermediate
Wicked_Havens/Binaries
Wicked_Havens/Saved
Wicked_Havens/Content/Developers
# no need to store solution, it can be regenerated
*.sln

#visual studio files
Wicked_Havens/.vs

#
Wicked_Havens/.idea

# bat files for building
*.bat

#BuildVersions
