[submodule "Wicked_Havens/Plugins/RTSCamera"]
	path = Wicked_Havens/Plugins/RTSCamera
	url = https://github.com/MadMcCrow/RTSCamera
[submodule "Wicked_Havens/Plugins/LocalWorld"]
	path = Wicked_Havens/Plugins/LocalWorld
	url = https://github.com/MadMcCrow/LocalWorld
[submodule "Wicked_Havens/Plugins/Panoplia"]
	path = Wicked_Havens/Plugins/Panoplia
	url = https://github.com/MadMcCrow/Panoplia
